[phases.setup]
nixPkgs = ["nodejs_22", "npm"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["node ace build", "cd build && npm ci --omit=dev"]

[start]
cmd = "sh -c 'cd build && node bin/server.js'"
